:root {
    --offwhite: rgba(237,237,238,1);
    --red: rgba(253,53,13,1);
    --white: rgba(255,255,255,1);
    --black: rgba(0,0,0,1);
    --offblack: rgba(44,52,50,1);
}

body {
    
    /* Created with https://www.css-gradient.com */
/* Created with https://www.css-gradient.com */
background: #000000;
background: -webkit-radial-gradient(right, #000000, #2C3432);
background: -moz-radial-gradient(right, #000000, #2C3432);
background: radial-gradient(to left, #000000, #2C3432);
}

.red-text {
    color: var(--red);
}

p {
    font-size: 2rem;
}

form {
	margin-bottom: 50px;
}

.white-text {
    color: var(--white);
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

:root {
	--delay: 0;
	--duration: 3000ms;
	--iterations: 1;
}
/* •·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */


.reveal-text,
.reveal-text::after {
	animation-delay: var(--animation-delay, 2s);
	animation-iteration-count: var(--iterations, 1);
	animation-duration: var(--duration, 800ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal-text {
	--animation-delay: var(--delay, 0);
	--animation-duration: var(--duration, 800ms);
	--animation-iterations: var(--iterations, 1);
	position: relative;
	font-size: 4rem;
	animation-name: clip-text;
	color: #FFF;
	white-space: nowrap;
	cursor: default;
	
	&::after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #f2f98b;
		transform: scaleX(0);
		transform-origin: 0 50%;
		pointer-events: none;
		animation-name: text-revealer;
	}
	
}

p.reveal-text {
    font-size: 1rem;
}


@keyframes clip-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}


@keyframes text-revealer {
	
	0%, 50% {
		transform-origin: 0 50%;
	}
	
	60%, 100% {
		transform-origin: 100% 50%;		
	}

	
	60% {
		transform: scaleX(1);
	}
	
	100% {
		transform: scaleX(0);
	}
}

.large-remove {
	display: none;
}

@media screen and (max-width: 520px) {
.small-remove {
	display: none;
	width: 500px;
	height: 500px;
}

.large-remove {
	display: initial;
	width: 236px;
	height: 236px;
}
}

@media screen and (max-width: 500px) {
.text-small-h1 {
	font-size: 3rem;
}

.text-small-p {
	font-size: 1rem;
}
}


@media screen and (max-width: 350px) {
	.text-small-h1 {
		font-size: 2rem;
	}
}

