:root {
    --offwhite: rgba(237,237,238,1);
    --red: rgba(253,53,13,1);
    --white: rgba(255,255,255,1);
    --black: rgba(0,0,0,1);
    --offblack: rgba(44,52,50,1);
}

body {
    
    /* Created with https://www.css-gradient.com */
/* Created with https://www.css-gradient.com */
background: #000000;
background: -webkit-radial-gradient(right, #000000, #2C3432);
background: -moz-radial-gradient(right, #000000, #2C3432);
background: radial-gradient(to left, #000000, #2C3432);
}

.red-text {
    color: var(--red);
}

p {
    font-size: 2rem;
}

.white-text {
    color: var(--white);
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}